<link rel='stylesheet' href='/stylesheets/style.css' />


<nav id="navbar">
    <h1>My Dev Skills</h1>
    <div id="links">
        <a id="home" href="/">Home</a>
        <a id="list" href="/skills">List</a>
    </div>
</nav>

