<!DOCTYPE html>
<html>

  <head>
    <title>All Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>

    <main>
      <h1>Skills</h1>
      <ul>
        <% skills.forEach(function(s) { %>
          <li>
              <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          </li>
        <% }); %>
      </ul>
      
    </main>

    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
  </body>
  
</html>

