<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome! Here you'll find a totally understated and humble list of 
      my developer skills. Bask in my glory.
    </p>
    <a href="/skills">This links to an index of my skills!</a>
  </body>
</html>
